tests/schema_gen/oc2ls-v1.1-lang_resolved.none.rng

<!-- meta: title - OpenC2 Language Profile -->
<!-- meta: package - http://oasis-open.org/openc2/oc2ls/v1.1 -->
<!-- meta: description - Language Profile from the OpenC2 Language Specification version 1.1 -->
<!-- meta: exports - ["OpenC2-Command", "OpenC2-Response"] -->

<grammar xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <choice>
      <element name="message">
        <ref name="OpenC2-Command"/>
      </element>
      <element name="message">
        <ref name="OpenC2-Response"/>
      </element>
      <element name="message">
        <ref name="Artifact"/>
      </element>
      <element name="message">
        <ref name="IPv4-Connection"/>
      </element>
      <element name="message">
        <ref name="IPv6-Connection"/>
      </element>
    </choice>
  </start>
  <define name="OpenC2-Command">
    <!--  -->
    <interleave>
      <element name="action">
        <!--  -->
        <ref name="Action"/>
      </element>
      <element name="target">
        <!--  -->
        <ref name="Target"/>
      </element>
      <optional>
        <element name="args">
          <!--  -->
          <ref name="Args"/>
        </element>
      </optional>
      <optional>
        <element name="actuator">
          <!--  -->
          <ref name="Actuator"/>
        </element>
      </optional>
      <optional>
        <element name="command_id">
          <!--  -->
          <ref name="Command-ID"/>
        </element>
      </optional>
    </interleave>
  </define>
  <define name="OpenC2-Response">
    <!--  -->
    <interleave>
      <element name="status">
        <!--  -->
        <ref name="Status-Code"/>
      </element>
      <optional>
        <element name="status_text">
          <!--  -->
          <data type="string"/>
        </element>
      </optional>
      <optional>
        <element name="results">
          <!--  -->
          <ref name="Results"/>
        </element>
      </optional>
    </interleave>
  </define>
  <define name="Action">
    <!--  -->
    <choice>
      <value>scan<!--  --></value>
      <value>locate<!--  --></value>
      <value>query<!--  --></value>
      <value>deny<!--  --></value>
      <value>contain<!--  --></value>
      <value>allow<!--  --></value>
      <value>start<!--  --></value>
      <value>stop<!--  --></value>
      <value>restart<!--  --></value>
      <value>cancel<!--  --></value>
      <value>set<!--  --></value>
      <value>update<!--  --></value>
      <value>redirect<!--  --></value>
      <value>create<!--  --></value>
      <value>delete<!--  --></value>
      <value>detonate<!--  --></value>
      <value>restore<!--  --></value>
      <value>copy<!--  --></value>
      <value>investigate<!--  --></value>
      <value>remediate<!--  --></value>
    </choice>
  </define>
  <define name="Target">
    <!--  -->
    <choice>
      <element name="artifact">
        <!--  -->
        <ref name="Artifact"/>
      </element>
      <element name="command">
        <!--  -->
        <ref name="Command-ID"/>
      </element>
      <element name="device">
        <!--  -->
        <ref name="Device"/>
      </element>
      <element name="domain_name">
        <!--  -->
        <ref name="Domain-Name"/>
      </element>
      <element name="email_addr">
        <!--  -->
        <ref name="Email-Addr"/>
      </element>
      <element name="features">
        <!--  -->
        <ref name="Features"/>
      </element>
      <element name="file">
        <!--  -->
        <ref name="File"/>
      </element>
      <element name="idn_domain_name">
        <!--  -->
        <ref name="IDN-Domain-Name"/>
      </element>
      <element name="idn_email_addr">
        <!--  -->
        <ref name="IDN-Email-Addr"/>
      </element>
      <element name="ipv4_net">
        <!--  -->
        <ref name="IPv4-Net"/>
      </element>
      <element name="ipv6_net">
        <!--  -->
        <ref name="IPv6-Net"/>
      </element>
      <element name="ipv4_connection">
        <!--  -->
        <ref name="IPv4-Connection"/>
      </element>
      <element name="ipv6_connection">
        <!--  -->
        <ref name="IPv6-Connection"/>
      </element>
      <element name="iri">
        <!--  -->
        <ref name="IRI"/>
      </element>
      <element name="mac_addr">
        <!--  -->
        <ref name="MAC-Addr"/>
      </element>
      <element name="process">
        <!--  -->
        <ref name="Process"/>
      </element>
      <element name="properties">
        <!--  -->
        <ref name="Properties"/>
      </element>
      <element name="uri">
        <!--  -->
        <ref name="URI"/>
      </element>
    </choice>
  </define>
  <define name="Actuator">
    <!--  -->
    <choice/>
  </define>
  <define name="Args">
    <!--  -->
    <interleave>
      <optional>
        <element name="start_time">
          <!--  -->
          <ref name="Date-Time"/>
        </element>
      </optional>
      <optional>
        <element name="stop_time">
          <!--  -->
          <ref name="Date-Time"/>
        </element>
      </optional>
      <optional>
        <element name="duration">
          <!--  -->
          <ref name="Duration"/>
        </element>
      </optional>
      <optional>
        <element name="response_requested">
          <!--  -->
          <ref name="Response-Type"/>
        </element>
      </optional>
    </interleave>
  </define>
  <define name="Status-Code">
    <!--  -->
    <choice>
      <value>Processing<!--  --></value>
      <value>OK<!--  --></value>
      <value>Created<!--  --></value>
      <value>Bad_Request<!--  --></value>
      <value>Unauthorized<!--  --></value>
      <value>Forbidden<!--  --></value>
      <value>Not_Found<!--  --></value>
      <value>Internal_Error<!--  --></value>
      <value>Not_Implemented<!--  --></value>
      <value>Service_Unavailable<!--  --></value>
    </choice>
  </define>
  <define name="Results">
    <!--  -->
    <interleave>
      <optional>
        <element name="versions">
          <!--  -->
          <ref name="Results$Versions"/>
        </element>
      </optional>
      <optional>
        <element name="profiles">
          <!--  -->
          <ref name="Results$Profiles"/>
        </element>
      </optional>
      <optional>
        <element name="pairs">
          <!--  -->
          <ref name="Action-Targets"/>
        </element>
      </optional>
      <optional>
        <element name="rate_limit">
          <!--  -->
          <ref name="Results$rate-limit"/>
        </element>
      </optional>
      <optional>
        <element name="args">
          <!--  -->
          <ref name="Results$Args"/>
        </element>
      </optional>
    </interleave>
  </define>
  <define name="Artifact">
    <!--  -->
    <interleave>
      <optional>
        <element name="mime_type">
          <!--  -->
          <data type="string"/>
        </element>
      </optional>
      <optional>
        <element name="payload">
          <!--  -->
          <ref name="Payload"/>
        </element>
      </optional>
      <optional>
        <element name="hashes">
          <!--  -->
          <ref name="Hashes"/>
        </element>
      </optional>
    </interleave>
  </define>
  <define name="Device">
    <!--  -->
    <interleave>
      <optional>
        <element name="hostname">
          <!--  -->
          <ref name="Hostname"/>
        </element>
      </optional>
      <optional>
        <element name="idn_hostname">
          <!--  -->
          <ref name="IDN-Hostname"/>
        </element>
      </optional>
      <optional>
        <element name="device_id">
          <!--  -->
          <data type="string"/>
        </element>
      </optional>
    </interleave>
  </define>
  <define name="Domain-Name">
    <!-- [RFC1034], Section 3.5 #jadn_opts:{"options": {"format": "hostname"}} -->
    <data type="string"/>
  </define>
  <define name="Email-Addr">
    <!-- Email address - [RFC5322], Section 3.4.1 #jadn_opts:{"options": {"format": "email"}} -->
    <data type="string"/>
  </define>
  <define name="Features">
    <!--  -->
    <oneOrMore>
      <text/>
    </oneOrMore>
  </define>
  <define name="File">
    <!--  -->
    <interleave>
      <optional>
        <element name="name">
          <!--  -->
          <data type="string"/>
        </element>
      </optional>
      <optional>
        <element name="path">
          <!--  -->
          <data type="string"/>
        </element>
      </optional>
      <optional>
        <element name="hashes">
          <!--  -->
          <ref name="Hashes"/>
        </element>
      </optional>
    </interleave>
  </define>
  <define name="IDN-Domain-Name">
    <!-- Internationalized Domain Name - [RFC5890], Section 2.3.2.3 #jadn_opts:{"options": {"format": "idn-hostname"}} -->
    <data type="string"/>
  </define>
  <define name="IDN-Email-Addr">
    <!-- Internationalized email address - [RFC6531] #jadn_opts:{"options": {"format": "idn-email"}} -->
    <data type="string"/>
  </define>
  <define name="IPv4-Net">
    <!--  -->
    <interleave>
      <element name="ipv4_addr">
        <!--  -->
        <ref name="IPv4-Addr"/>
      </element>
      <optional>
        <element name="prefix_length">
          <!--  -->
          <data type="integer"/>
        </element>
      </optional>
    </interleave>
  </define>
  <define name="IPv4-Connection">
    <!--  -->
    <interleave>
      <optional>
        <element name="src_addr">
          <!--  -->
          <ref name="IPv4-Net"/>
        </element>
      </optional>
      <optional>
        <element name="src_port">
          <!--  -->
          <ref name="Port"/>
        </element>
      </optional>
      <optional>
        <element name="dst_addr">
          <!--  -->
          <ref name="IPv4-Net"/>
        </element>
      </optional>
      <optional>
        <element name="dst_port">
          <!--  -->
          <ref name="Port"/>
        </element>
      </optional>
      <optional>
        <element name="protocol">
          <!--  -->
          <ref name="L4-Protocol"/>
        </element>
      </optional>
    </interleave>
  </define>
  <define name="IPv6-Net">
    <!--  -->
    <interleave>
      <element name="ipv6_addr">
        <!--  -->
        <ref name="IPv6-Addr"/>
      </element>
      <optional>
        <element name="prefix_length">
          <!--  -->
          <data type="integer"/>
        </element>
      </optional>
    </interleave>
  </define>
  <define name="IPv6-Connection">
    <!--  -->
    <interleave>
      <optional>
        <element name="src_addr">
          <!--  -->
          <ref name="IPv6-Net"/>
        </element>
      </optional>
      <optional>
        <element name="src_port">
          <!--  -->
          <ref name="Port"/>
        </element>
      </optional>
      <optional>
        <element name="dst_addr">
          <!--  -->
          <ref name="IPv6-Net"/>
        </element>
      </optional>
      <optional>
        <element name="dst_port">
          <!--  -->
          <ref name="Port"/>
        </element>
      </optional>
      <optional>
        <element name="protocol">
          <!--  -->
          <ref name="L4-Protocol"/>
        </element>
      </optional>
    </interleave>
  </define>
  <define name="IRI">
    <!-- Internationalized Resource Identifier, [RFC3987] #jadn_opts:{"options": {"format": "iri"}} -->
    <data type="string"/>
  </define>
  <define name="MAC-Addr">
    <!-- Media Access Control / Extended Unique Identifier address - EUI-48 or EUI-64 as defined in [EUI] #jadn_opts:{"options": {"format": "eui"}} -->
    <data type="base64Binary"/>
  </define>
  <define name="Process">
    <!--  -->
    <interleave>
      <optional>
        <element name="pid">
          <!--  -->
          <ref name="Process$pid"/>
        </element>
      </optional>
      <optional>
        <element name="name">
          <!--  -->
          <data type="string"/>
        </element>
      </optional>
      <optional>
        <element name="cwd">
          <!--  -->
          <data type="string"/>
        </element>
      </optional>
      <optional>
        <element name="executable">
          <!--  -->
          <ref name="File"/>
        </element>
      </optional>
      <optional>
        <element name="parent">
          <!--  -->
          <ref name="Process"/>
        </element>
      </optional>
      <optional>
        <element name="command_line">
          <!--  -->
          <data type="string"/>
        </element>
      </optional>
    </interleave>
  </define>
  <define name="Properties">
    <!--  -->
    <oneOrMore>
      <text/>
    </oneOrMore>
  </define>
  <define name="URI">
    <!-- Uniform Resource Identifier, [RFC3986] #jadn_opts:{"options": {"format": "uri"}} -->
    <data type="string"/>
  </define>
  <define name="Action-Targets">
    <!--  -->
    <interleave>
      <element name="scan">
        <!--  -->
        <ref name="Targets"/>
      </element>
      <element name="locate">
        <!--  -->
        <ref name="Targets"/>
      </element>
      <element name="query">
        <!--  -->
        <ref name="Targets"/>
      </element>
      <element name="deny">
        <!--  -->
        <ref name="Targets"/>
      </element>
      <element name="contain">
        <!--  -->
        <ref name="Targets"/>
      </element>
      <element name="allow">
        <!--  -->
        <ref name="Targets"/>
      </element>
      <element name="start">
        <!--  -->
        <ref name="Targets"/>
      </element>
      <element name="stop">
        <!--  -->
        <ref name="Targets"/>
      </element>
      <element name="restart">
        <!--  -->
        <ref name="Targets"/>
      </element>
      <element name="cancel">
        <!--  -->
        <ref name="Targets"/>
      </element>
      <element name="set">
        <!--  -->
        <ref name="Targets"/>
      </element>
      <element name="update">
        <!--  -->
        <ref name="Targets"/>
      </element>
      <element name="redirect">
        <!--  -->
        <ref name="Targets"/>
      </element>
      <element name="create">
        <!--  -->
        <ref name="Targets"/>
      </element>
      <element name="delete">
        <!--  -->
        <ref name="Targets"/>
      </element>
      <element name="detonate">
        <!--  -->
        <ref name="Targets"/>
      </element>
      <element name="restore">
        <!--  -->
        <ref name="Targets"/>
      </element>
      <element name="copy">
        <!--  -->
        <ref name="Targets"/>
      </element>
      <element name="investigate">
        <!--  -->
        <ref name="Targets"/>
      </element>
      <element name="remediate">
        <!--  -->
        <ref name="Targets"/>
      </element>
    </interleave>
  </define>
  <define name="Targets">
    <!--  -->
    <oneOrMore>
      <text/>
    </oneOrMore>
  </define>
  <define name="Date-Time">
    <!-- Date and Time #jadn_opts:{"options": {"minv": 0}} -->
    <data type="integer"/>
  </define>
  <define name="Duration">
    <!-- A length of time #jadn_opts:{"options": {"minv": 0}} -->
    <data type="integer"/>
  </define>
  <define name="Feature">
    <!--  -->
    <choice>
      <value>versions<!--  --></value>
      <value>profiles<!--  --></value>
      <value>pairs<!--  --></value>
      <value>rate_limit<!--  --></value>
      <value>args<!--  --></value>
    </choice>
  </define>
  <define name="Hashes">
    <!--  -->
    <interleave>
      <element name="md5">
        <!--  -->
        <ref name="Hashes$md5"/>
      </element>
      <element name="sha1">
        <!--  -->
        <ref name="Hashes$sha1"/>
      </element>
      <element name="sha256">
        <!--  -->
        <ref name="Hashes$sha256"/>
      </element>
    </interleave>
  </define>
  <define name="Hostname">
    <!-- Internet host name as specified in [RFC1123] #jadn_opts:{"options": {"format": "hostname"}} -->
    <data type="string"/>
  </define>
  <define name="IDN-Hostname">
    <!-- Internationalized Internet host name as specified in [RFC5890], Section 2.3.2.3 #jadn_opts:{"options": {"format": "idn-hostname"}} -->
    <data type="string"/>
  </define>
  <define name="IPv4-Addr">
    <!-- 32 bit IPv4 address as defined in [RFC0791] #jadn_opts:{"options": {"format": "ipv4-addr"}} -->
    <data type="base64Binary"/>
  </define>
  <define name="IPv6-Addr">
    <!-- 128 bit IPv6 address as defined in [RFC8200] #jadn_opts:{"options": {"format": "ipv6-addr"}} -->
    <data type="base64Binary"/>
  </define>
  <define name="L4-Protocol">
    <!--  -->
    <choice>
      <value>icmp<!--  --></value>
      <value>tcp<!--  --></value>
      <value>udp<!--  --></value>
      <value>sctp<!--  --></value>
    </choice>
  </define>
  <define name="Payload">
    <!--  -->
    <choice>
      <element name="bin">
        <!--  -->
        <data type="base64Binary"/>
      </element>
      <element name="url">
        <!--  -->
        <ref name="URI"/>
      </element>
    </choice>
  </define>
  <define name="Port">
    <!-- Transport Protocol Port Number, [RFC6335] #jadn_opts:{"options": {"minv": 0, "maxv": 65535}} -->
    <data type="integer"/>
  </define>
  <define name="Response-Type">
    <!--  -->
    <choice>
      <value>none<!--  --></value>
      <value>ack<!--  --></value>
      <value>status<!--  --></value>
      <value>complete<!--  --></value>
    </choice>
  </define>
  <define name="Version">
    <!-- Major.Minor version number -->
    <data type="string"/>
  </define>
  <define name="Command-ID">
    <!-- Command Identifier #jadn_opts:{"options": {"pattern": "^\\S{0,36}$"}} -->
    <data type="string"/>
  </define>
  <define name="Namespace">
    <!-- Unique name of an Actuator Profile #jadn_opts:{"options": {"format": "uri"}} -->
    <data type="string"/>
  </define>
  <define name="Results$Versions">
    <!--  -->
    <oneOrMore>
      <text/>
    </oneOrMore>
  </define>
  <define name="Results$Profiles">
    <!--  -->
    <oneOrMore>
      <text/>
    </oneOrMore>
  </define>
  <define name="Results$Args">
    <!--  -->
    <oneOrMore>
      <text/>
    </oneOrMore>
  </define>
  <define name="Results$rate-limit">
    <!-- Maximum number of requests per minute supported by design or policy #jadn_opts:{"options": {"minf": 0.0}} -->
    <data type="float"/>
  </define>
  <define name="Process$pid">
    <!-- Process ID of the process #jadn_opts:{"options": {"minv": 0}} -->
    <data type="integer"/>
  </define>
  <define name="Hashes$md5">
    <!-- MD5 hash as defined in [RFC1321] #jadn_opts:{"options": {"format": "x", "minv": 16, "maxv": 16}} -->
    <data type="base64Binary"/>
  </define>
  <define name="Hashes$sha1">
    <!-- SHA1 hash as defined in [RFC6234] #jadn_opts:{"options": {"format": "x", "minv": 20, "maxv": 20}} -->
    <data type="base64Binary"/>
  </define>
  <define name="Hashes$sha256">
    <!-- SHA256 hash as defined in [RFC6234] #jadn_opts:{"options": {"format": "x", "minv": 32, "maxv": 32}} -->
    <data type="base64Binary"/>
  </define>
  <define name="Target$Pointer">
    <!--  -->
    <choice>
      <value>artifact<!--  --></value>
      <value>command<!--  --></value>
      <value>device<!--  --></value>
      <value>domain_name<!--  --></value>
      <value>email_addr<!--  --></value>
      <value>features<!--  --></value>
      <value>file<!--  --></value>
      <value>idn_domain_name<!--  --></value>
      <value>idn_email_addr<!--  --></value>
      <value>ipv4_net<!--  --></value>
      <value>ipv6_net<!--  --></value>
      <value>ipv4_connection<!--  --></value>
      <value>ipv6_connection<!--  --></value>
      <value>iri<!--  --></value>
      <value>mac_addr<!--  --></value>
      <value>process<!--  --></value>
      <value>properties<!--  --></value>
      <value>uri<!--  --></value>
    </choice>
  </define>
</grammar>
